<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Wndo</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
    <array>
    <dict>
        <key>CFBundleURLSchemes</key>
        <array>
            <string>fb139927698347638</string>
        </array>
    </dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.925439958349-g67qmrnrn1k68d48g7u5g1nsbpk7t92a</string>
			</array>
		</dict>
	</array>
    <key>FacebookAppID</key>
    <string>139927698347638</string>
    <key>FacebookDisplayName</key>
    <string>Wndo</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Allow to use camera for update your image</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow to use your location to find nearest places</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow to use your location to find nearest places</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow to use photo library for update your image</string>
	<key>UIAppFonts</key>
	<array>
		<string>Multi-Bold.ttf</string>
		<string>Multi-BoldItalic.ttf</string>
		<string>Multi-ExtraLight.ttf</string>
		<string>Multi-ExtraLightItalic.ttf</string>
		<string>Multi-Italic.ttf</string>
		<string>Multi-Light.ttf</string>
		<string>Multi-LightItalic.ttf</string>
		<string>Multi-semi-BoldItalic.ttf</string>
		<string>Multi-SemiBold.ttf</string>
		<string>Multi.ttf</string>
		<string>SFPRODISPLAYBLACKITALIC.OTF</string>
		<string>SFPRODISPLAYBOLD.OTF</string>
		<string>SFPRODISPLAYHEAVYITALIC.OTF</string>
		<string>SFPRODISPLAYLIGHTITALIC.OTF</string>
		<string>SFPRODISPLAYMEDIUM.OTF</string>
		<string>SFPRODISPLAYREGULAR.OTF</string>
		<string>SFPRODISPLAYSEMIBOLDITALIC.OTF</string>
		<string>SFPRODISPLAYTHINITALIC.OTF</string>
		<string>SFPRODISPLAYULTRALIGHTITALIC.OTF</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Auth</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
